*{
    margin:0%;
    padding:0%;
    font-family:"Jim Nightshade", serif;
    background-color: rgb(10, 7, 7);
    text-align: center;

}





/*NAV*/

.nav-link:hover {
    color:red !important;
}

.nav-link{
    color:white !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #780606 !important;
  }
