*{
    margin:0%;
    padding: 0%;
    font-family:"Jim Nightshade", serif;
    background-color: black;
}


h1{
    
}

/*NAV*/

.nav-link:hover {
    color:red !important;

}

.nav-link{
    color:white !important;
}