*{
    padding: 0%;
    margin: 0%;
    text-align: center;
    font-family:"Jim Nightshade", serif;
}

h1{
    font-size: 80px
}


p{
    font-size: large;
}

h2{
    font-size: x-large;
}

.gradient{
    background: linear-gradient(to right, black, white);
}

.fade{
    height: 80px;
    background-color: black;
    color: white;
    line-height: 100px;
    transition: opacity 1s ease;
    opacity: 1;
}

.fade:hover {
    opacity: 0.3;
}

.zoom{
    transition: transform 0.5s ease;
    width: 600px;
}

.zoom:hover {
    transform: scale(1.5);
}